html {
    margin: 0;
    padding: 0;
  }
  
  /* span {
    display: block;
  } */
  .canvas {
    margin: 100px auto 100px;
    width: 1000px;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border-radius: 50%;
    border: solid black 2px;
    display: inline-block;
    box-shadow: 8px 8px 20px    rgba(0, 0, 0, 0.313);
  }
  
  #green {
    background: green;
  }
  
  #purple {
    background: purple;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  